<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <p>
      Your job order with the following details is now assigned to Engr. <%=Personnel.all.find_by(id: @job.assessor_id).surname%> and Sir <%=Personnel.all.find_by(id: @job.staff_id).surname%>, <%=Personnel.all.find_by(id: @job.staff_id).name[0,1]%> of <%=Personnel.all.find_by(id: @job.staff_id).maintenance_unit%> unit.
    </p>
    <ul>
      <%= render "job_details"%>
    </ul>
    <%= render "job_details"%>
  </body>
</html>
