<div class="overflow-x-auto flex items-center justify-center w-11/12 sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Job Order Number
        </th>
        <th scope="col" class="py-3 px-6">
          Nature of request
        </th>
        <th scope="col" class="py-3 px-6">
          Note to engineering
        </th>
        <th scope="col" class="py-3 px-6">
          Status
        </th>
        <th scope="col" class="py-3 px-6">
          Remarks
        </th>
        <th scope="col" class="py-3 px-6">
          Created at
        </th>
        <th colspan='2' scope="col" class="py-3 px-6 colspan-2">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%=job.id%>
          </th>
          <td class="py-4 px-6">
            <%=job.nature_of_request.capitalize%>
          </td>
          <td class="py-4 px-6">
            <%=job.note_to_staff.capitalize%>
          </td>
          <td class="py-4 px-6">
            <% if job.remark.last == nil %>
              <%=job.status%>
            <%else%>
              <%=job.remark.last.status.capitalize%>
            <%end%>
          </td>
          <td class="py-4 px-6">
            <% if job.remark.last.remarks != nil %>
              <%=job.remark.last.remarks%>
            <%end%>
          </td>
          <td class="py-4 px-6">
            <%=job.created_at.localtime.strftime("%b %d, '%y")%> |
            <%=job.created_at.localtime.strftime('%H:%M')%>
          </td>
          <td class="py-4 px-6">
            <%= link_to requestor_job_path(job) do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            <%end%>
          </td>
          <%if job.evaluation == nil%>
            <td class="py-4 px-6">
              <% job.remark.each do |entry| %>
                <%if entry.status == 'Done'%>
                  <%= link_to new_requestor_job_evaluation_path(job) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  <%end%>
                <%end%>
              <%end%>
            <%else%>
              <td class="py-4 px-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>
              <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
