<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Job Order Number
        </th>
        <th scope="col" class="py-3 px-6">
          Unit
        </th>
        <th scope="col" class="py-3 px-6">
          Service
        </th>
        <th scope="col" class="py-3 px-6">
          Nature of request
        </th>
        <th scope="col" class="py-3 px-6">
          Note to engineering
        </th>
        <th scope="col" class="py-3 px-6">
          Assessed By
        </th>
        <th scope="col" class="py-3 px-6">
          Maintenance Unit
        </th>
        <th scope="col" class="py-3 px-6">
          Assigned to
        </th>
        <th scope="col" class="py-3 px-6">
          Status
        </th>
        <th scope="col" class="py-3 px-6">
          Remarks
        </th>
        <th scope="col" class="py-3 px-6">
          Created at
        </th>
        <th scope="col" class="py-3 px-6">
          Updated at
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%=@job.id%>
        </th>
        <td class="py-4 px-6">
          <%=current_user.unit%>
        </td>
        <td class="py-4 px-6">
          <%=current_user.service%>
        </td>
        <td class="py-4 px-6">
          <%=@job.nature_of_request%>
        </td>
        <td class="py-4 px-6">
          <%=@job.note_to_staff%>
        </td>
        <td class="py-4 px-6">
          <%=@job.assessor%>
        </td>
        <td class="py-4 px-6">
          <%=@job.maintenance_unit%>
        </td>
        <td class="py-4 px-6">
          <%=@job.staff%>
        </td>
        <td class="py-4 px-6">
          if no record on remarks model
          <%=job.status%>
          else
          reference remarks model status
        </td>
        <td class="py-4 px-6">
          Latest remarks
        </td>
        <td class="ps="py-4 px-6">
          <%=@job.created_at.strftime("%b %d, '%y")%> | 
          <%=@job.created_at.strftime('%H:%M')%>
        </td>
        <td class="py-4 px-6">
          <%=@job.updated_at.strftime("%b %d, '%y")%> | 
          <%=@job.updated_at.strftime('%H:%M')%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>show all remarks</div>
<% if @job.evaluation != nil%>
  <div>
    <h3>Evaluation</h3>
    <p>Response Time : <%=@response_time%></p>
    <p>Quality : <%=@quality%></p>
    <p>Courtesy : <%=@courtesy%></p>
    <p>Message : <%=@comments%></p>
  </div>
<%end%>
