<nav class="flex justify-between items-center h-16 px-5 lg:px-16 w-full bg-green-900 relative">
  <%= link_to root_path, class: "text-white text-xl lg:text-2xl font-bold lg:w-auto w-fit" do %>
    <div class="flex gap-3 items-center ">
      <div class="flex gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
        </svg>
        <p class="hidden lg:inline-block">Job Orders</p>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.requestor? %>
      <%= link_to 'Dashboard', requestor_dashboard_index_path %>
      <%= link_to 'My Job Orders', requestor_jobs_path %>
      <%= link_to 'New Job Order', new_requestor_job_path %>
    <% else%>
      <%= link_to 'Dashboard', admin_dashboard_index_path %>
      <%= link_to 'All Job Orders', admin_jobs_path %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %>
    <%end%>
  <%end%>
</nav>
